@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

.App {
    display: flex;
    flex-direction: column;
    .App_backgroundWhiteSphere{
        position: absolute;
        top: 5rem;
        width: 40rem;
        border-radius: 100%;
        height: 40rem;
        left: calc(50% - 20rem);
        filter: blur(12rem);
        background-color: #FFFFFF8F;
        z-index: 1;
    }
    .App_backgroundRedSphere{
        position: absolute;
        top: 20rem;
        left: -40rem;
        width: 70rem;
        border-radius: 100%;
        height: 90rem;
        filter: blur(12rem);
        background-color: #F41D1D8C;
        z-index: 1;
    }
    .App_backgroundBLueSphere{
        position: absolute;
        top: 40rem;
        right: -40rem;
        width: 80rem;
        border-radius: 100%;
        height: 80rem;
        filter: blur(12rem);
        background-color: #1964DD8C;
        z-index: 1;
    }
    .App_content{
        display: flex;
        flex-direction: column;
        gap: 200px
    }

    .App-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 3rem;

        .App-header_nav {
            padding: 0 3rem;
            display: flex;
            align-items: center;
            gap: 2em;

            a {
                font-size: 2em;
                color: white;
            }

        }
    }

    .main {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
        h1 {
            font-size: 3em;
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0%;
        }

        p {
            font-weight: 300;
            line-height: 50px;
            letter-spacing: -5%;
            font-family: Helvetica;
        }
    }

    .mission {
        padding-left: 3rem;
        width: 100%;
        text-align: left;
        position: relative;

        h2 {
            font-family: 'durik', sans-serif;
            font-weight: 400;
            font-size: 4rem;
            line-height: 40px;
            letter-spacing: -5%;

        }

        p {
            font-weight: 300;
            line-height: 40px;
            letter-spacing: -5%;

        }

        .mission_content {
            width: 40%;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 2rem;

            .mission_content-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                p{
                    font-family: 'durik', sans-serif;
                }
            }
        }

        .mission_img {
            position: absolute;
            right: 0;
            top: -30%;
            z-index: 1;
        }
    }

    .aboutus {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        z-index: 3;

        h2 {
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            line-height: 50px;
            letter-spacing: 0%;
        }

        p {
            font-family: Helvetica;
            font-weight: 300;
            line-height: 50px;
            letter-spacing: -5%;
        }
        .aboutus_content{
            width: 90%;
            margin: 4rem auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            flex-wrap: wrap;
            .aboutus_content-item{
                width: 40%;
                text-align: left;
                h4{
                    font-family: TD Mars;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 40px;
                    letter-spacing: -5%;
                }
                p{
                    font-family: Helvetica;
                    font-weight: 300;
                    font-size: 1.5rem;
                    line-height: 25px;
                    letter-spacing: -5%;
                }
            }
        }
    }

    .construction{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        .construction_backgroundBLueSphere{
            position: absolute;
            top: -25rem;
            left: -70rem;
            width: 80rem;
            border-radius: 100%;
            height: 100rem;
            filter: blur(15rem);
            background-color: #1964DD8C;
            z-index: 1;
        }
        .construction_backgroundRedSphere{
            position: absolute;
            top: -25rem;
            right: -70rem;
            width: 80rem;
            border-radius: 100%;
            height: 100rem;
            filter: blur(15rem);
            background-color: #F41D1D8C;
            z-index: 1;
        }
        h2{
            font-family: 'TD Mars', sans-serif;
            margin-bottom: 2rem;
            font-weight: 400;
            font-size: 3rem;
            line-height: 40px;
            position: relative;
        }
        p{
            font-family: Helvetica;
            font-weight: 300;
            font-size:2rem;
            line-height: 40px;
            letter-spacing: -5%;
            position: relative;
        }
        img{
            position: relative;
        }
    }

    .contact{
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2{
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            line-height: 50px;
            letter-spacing: 0%;
            text-align: center;
        }
        .contact_input{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin: 2rem 0;
            input{
                background-color: white;
                width: 100%;
                padding: 1rem;
                border-radius: 8px;
            }
            button{
                padding: 1rem;
                background-color: #1964DD;
                color: white;
                border-radius: 8px;
            }
        }

    }

    .categories{
        h2{
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            line-height: 50px;
            letter-spacing: 0%;
            text-align: center;
        }

    }
}
.swiper {
    gap: 1rem;
    width: 60%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    img {
    display: block;
    width: 100%;
    }
    p {
        font-size: 1rem;
        text-align: center;
        display: block;
        width: 100%;
    }
}
