@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

.App {
    display: flex;
    flex-direction: column;
    .App_backgroundWhiteSphere{
        position: absolute;
        top: 5rem;
        width: 40rem;
        border-radius: 100%;
        height: 40rem;
        left: calc(50% - 20rem);
        filter: blur(12rem);
        background-color: #FFFFFF8F;
        z-index: 1;
    }

    .App_content{
        display: flex;
        flex-direction: column;
        gap: 200px
    }

    .App-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 3rem;
        @media (max-width: 600px) {
            padding: 1rem;
        }
        @media (max-width: 400px) {
            img{
                width: 30px;
            }
        }
        .App-header_nav {
            padding: 0 3rem;
            display: flex;
            align-items: center;
            gap: 2em;
            @media (max-width: 600px) {
                padding: 0;
                padding-left: 1rem;
                gap: 1rem;
            }


            a {
                font-size: 2rem;
                color: white;
                @media (max-width: 700px) {
                    font-size: 1.5rem;
                }
            }

        }
    }

    .main {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
        position: relative;
        @media (max-width: 600px) {
            width: 90%;
        }
        .App_backgroundRedSphere{
            position: absolute;
            top: 0;
            left: -40rem;
            width: 70rem;
            border-radius: 100%;
            height: 90rem;
            filter: blur(12rem);
            background-color: #F41D1D8C;
            z-index: 1;
        }
        .App_backgroundBLueSphere{
            position: absolute;
            top: 20rem;
            right: -40rem;
            width: 80rem;
            border-radius: 100%;
            height: 80rem;
            filter: blur(12rem);
            background-color: #1964DD8C;
            z-index: 1;
        }
        h1 {
            font-size: 3em;
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0%;
            z-index: 3;
            position: relative;
            @media (max-width: 1000px) {
                font-size: 2.5rem;
            }
            @media (max-width: 600px) {
                font-size: 2rem;
            }
        }

        p {
            font-weight: 300;
            line-height: 50px;
            letter-spacing: -5%;
            font-family: Helvetica;
            z-index: 3;
            position: relative;
            @media (max-width: 1000px) {
                line-height: 35px;
            }
        }
    }

    .mission {
        padding-left: 3rem;
        width: 100%;
        text-align: left;
        position: relative;
        z-index: 3;
        @media (max-width: 600px) {
            padding-left: 1rem;
        }

        h2 {
            font-family: 'durik', sans-serif;
            font-weight: 400;
            font-size: 4rem;
            line-height: 40px;
            letter-spacing: -5%;
        }

        p {
            font-weight: 300;
            line-height: 40px;
            letter-spacing: -5%;

        }

        .mission_content {
            width: 40%;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 2rem;
            @media (max-width: 400px) {
                width: 100%;
            }

            .mission_content-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                p{
                    font-family: 'durik', sans-serif;
                }
            }
        }

        .mission_img {
            position: absolute;
            right: 0;
            top: -30%;
            z-index: 1;
            @media (max-width: 1000px) {
                top: -10%;
                max-width: 60%;
            }
            @media (max-width: 400px) {
                top: -40%;
            }
        }
    }

    .aboutus {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
        @media (max-width: 750px) {
            width: 90%;
        }

        h2 {
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            line-height: 50px;
            letter-spacing: 0%;
            @media (max-width: 1000px) {
                font-size: 2rem;
            }
            @media (max-width: 600px) {
                font-size: 1.4rem;
                line-height: 35px;
            }
        }

        p {
            font-family: Helvetica;
            font-weight: 300;
            line-height: 50px;
            letter-spacing: -5%;
            @media (max-width: 1000px) {
                line-height:30px;
            }
        }
        .aboutus_content{
            width: 90%;
            margin: 4rem auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            flex-wrap: wrap;
            @media (max-width: 750px) {
                gap: 1rem;
            }
            @media (max-width: 600px) {
                flex-direction: column;
                gap: 2rem;
            }

            .aboutus_content-item{
                width: 40%;
                text-align: left;
                @media (max-width: 750px) {
                    width: 45%;
                }
                @media (max-width: 600px) {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
                    align-items: center;
                    text-align: center;
                }
                h4{
                    font-family: TD Mars;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 40px;
                    letter-spacing: -5%;
                    @media (max-width: 1000px) {
                        font-size: 1.3rem;
                        line-height: 30px;
                    }
                }
                p{
                    font-family: Helvetica;
                    font-weight: 300;
                    font-size: 1.5rem;
                    line-height: 25px;
                    letter-spacing: -5%;
                    @media (max-width: 1000px) {
                        font-size: 1.3rem;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .construction{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        .construction_backgroundBLueSphere{
            position: absolute;
            top: -25rem;
            left: -70rem;
            width: 80rem;
            border-radius: 100%;
            height: 100rem;
            filter: blur(15rem);
            background-color: #1964DD8C;
            z-index: 1;
        }
        .construction_backgroundRedSphere{
            position: absolute;
            top: -25rem;
            right: -70rem;
            width: 80rem;
            border-radius: 100%;
            height: 100rem;
            filter: blur(15rem);
            background-color: #F41D1D8C;
            z-index: 1;
        }
        h2{
            font-family: 'TD Mars', sans-serif;
            margin-bottom: 2rem;
            font-weight: 400;
            font-size: 3rem;
            line-height: 40px;
            position: relative;
            @media (max-width: 1000px) {
                font-size: 2.5rem;
            }

            @media (max-width: 600px) {
                font-size: 1.6rem;
            }
        }
        p{
            font-family: Helvetica;
            font-weight: 300;
            line-height: 40px;
            letter-spacing: -5%;
            position: relative;

        }
        img{
            position: relative;
            max-width: 80%;
        }
        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    .categories{
        h2{
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            line-height: 50px;
            letter-spacing: 0%;
            text-align: center;
            @media (max-width: 1000px) {
                font-size: 2.5rem;
            }

            @media (max-width: 600px) {
                font-size: 1.5rem;
            }
        }
        .swiper {
            gap: 1rem;
            width: 900px;
            max-width: 100%;
            padding-top: 150px;
            padding-bottom: 150px;

            @media (max-width: 600px) {
                padding-top: 80px;
                padding-bottom: 80px;
            }
            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 300px;
                @media (max-width: 400px) {
                    width: 250px;
                    height: 250px;
                }
                img {
                    display: block;
                    width: 100%;
                }
                p {
                    font-size: 1rem;
                    text-align: center;
                    display: block;
                    width: 100%;
                }
            }

        }


    }

    .contact{
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media (max-width: 1000px) {
            width: 70%;
        }
        @media (max-width: 600px) {
            width: 90%;
        }

        h2{
            font-family: 'TD Mars', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            line-height: 50px;
            letter-spacing: 0%;
            text-align: center;
            @media (max-width: 1000px) {
                font-size: 2.5rem;
            }
            @media (max-width: 1000px) {
                font-size: 1.4rem;
                line-height: 30px;
            }
        }
        .contact_input{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin: 2rem 0;
            input{
                background-color: white;
                width: 100%;
                padding: 1rem;
                border-radius: 8px;
            }
            button{
                padding: 1rem;
                background-color: #1964DD;
                color: white;
                border-radius: 8px;
            }
        }

    }

}

